<h2>Modification de la catégorie</h2>

<%= render 'form' %>

<%= link_to 'Détruire cette catégorie (irréversible)', @category, method: :delete, data: { confirm: 'Voulez-vous continuer?' }, :class => 'small alert button' %>
